In [1]:
import pandas as pd
import sklearn as sk
from pathlib import Path
from sklearn.utils import resample

In [2]:
ctrain = pd.read_csv('./project_data/cases_2021_train_processed_2.csv')
ctest = pd.read_csv('./project_data/cases_2021_test_processed_unlabelled_2.csv')

In [3]:
ctrain

,age,sex,province,country,latitude,longitude,date_confirmation,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,outcome_group
0,18,female,Bihar,India,25.49096,85.93903,2020-05-18,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
1,27,female,NaN,Philippines,7.07000,125.60000,2020-04-15,False,747288,13297,603746,130245,681.949809,1.779368,nonhospitalized
2,46,male,Tamil Nadu,India,13.08362,80.28252,2020-05-02,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
3,21,female,Tamil Nadu,India,13.08362,80.28252,2020-05-24,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
4,27,male,Bihar,India,26.28361,87.20347,2020-05-27,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17207,29,female,Tamil Nadu,India,13.08362,80.28252,2020-04-24,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
17208,47,female,NaN,Philippines,16.68814,121.54992,2020-04-09,False,747288,13297,603746,130245,681.949809,1.779368,nonhospitalized
17209,30,male,Bihar,India,24.94452,86.26404,2020-05-26,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
17210,59,male,Tamil Nadu,India,12.68224,79.98008,2020-05-31,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
17211,28,male,NaN,Philippines,14.58000,121.03000,2020-05-11,False,747288,13297,603746,130245,681.949809,1.779368,deceased

In [4]:
ctrain

,age,sex,province,country,latitude,longitude,date_confirmation,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,outcome_group
0,18,female,Bihar,India,25.49096,85.93903,2020-05-18,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
1,27,female,NaN,Philippines,7.07000,125.60000,2020-04-15,False,747288,13297,603746,130245,681.949809,1.779368,nonhospitalized
2,46,male,Tamil Nadu,India,13.08362,80.28252,2020-05-02,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
3,21,female,Tamil Nadu,India,13.08362,80.28252,2020-05-24,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
4,27,male,Bihar,India,26.28361,87.20347,2020-05-27,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17207,29,female,Tamil Nadu,India,13.08362,80.28252,2020-04-24,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
17208,47,female,NaN,Philippines,16.68814,121.54992,2020-04-09,False,747288,13297,603746,130245,681.949809,1.779368,nonhospitalized
17209,30,male,Bihar,India,24.94452,86.26404,2020-05-26,False,265527,1576,262371,1580,212.762145,0.593537,hospitalized
17210,59,male,Tamil Nadu,India,12.68224,79.98008,2020-05-31,False,886673,12719,858075,15879,1139.078325,1.434463,hospitalized
17211,28,male,NaN,Philippines,14.58000,121.03000,2020-05-11,False,747288,13297,603746,130245,681.949809,1.779368,deceased

In [5]:
ctrain.drop(columns=['province', 'country', 'date_confirmation'], inplace=True)
ctest.drop(columns=['province', 'country', 'date_confirmation'], inplace=True)

In [6]:
ctrain.outcome_group = ctrain.outcome_group.astype('category').cat.codes

ctrain.sex = ctrain.sex.astype('category').cat.codes
ctest.sex = ctest.sex.astype('category').cat.codes

ctrain.chronic_disease_binary = ctrain.chronic_disease_binary.astype('category').cat.codes
ctest.chronic_disease_binary = ctest.chronic_disease_binary.astype('category').cat.codes

In [7]:
ctrain.outcome_group.value_counts()

1    13241
2     2974
0      997
Name: outcome_group, dtype: int64

In [8]:
ctrain_minority = ctrain[ctrain.outcome_group==0]
ctrain_rest = ctrain[ctrain.outcome_group!=0]

ctrain_minority_dups = resample(ctrain_minority, 
                                replace=True,
                                n_samples=int(ctrain_rest.shape[0]/2))

ctrain = pd.concat([ctrain_rest, ctrain_minority_dups])

In [9]:
# TODO: Consider running this to upscale outcome group 2 - it is a minority class, but to a lesser extent than 0

# ctrain_minority = ctrain[ctrain.outcome_group==2]
# ctrain_rest = ctrain[ctrain.outcome_group!=2]

# ctrain_minority_dups = resample(ctrain_minority, 
#                                 replace=True,
#                                 n_samples=int(ctrain_rest.shape[0]/2))

# ctrain = pd.concat([ctrain_rest, ctrain_minority_dups])

In [10]:
ctrain.outcome_group.value_counts()

1    13241
0     8107
2     2974
Name: outcome_group, dtype: int64

In [11]:
# Shuffle training set
ctrain = ctrain.sample(frac=1)
ctrain = ctrain.reset_index(drop='True')
ctrain

,age,sex,latitude,longitude,chronic_disease_binary,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio,outcome_group
0,34,0,12.68224,79.98008,0,886673,12719,858075,15879,1139.078325,1.434463,1
1,52,1,-26.56750,31.49822,0,17337,667,16528,142,1494.357694,3.847263,2
2,79,1,11.66552,78.15164,0,886673,12719,858075,15879,1139.078325,1.434463,1
3,86,0,14.59580,120.97720,0,747288,13297,603746,130245,681.949809,1.779368,0
4,67,0,10.33333,123.75000,0,747288,13297,603746,130245,681.949809,1.779368,2
...,...,...,...,...,...,...,...,...,...,...,...,...
24317,27,0,13.08362,80.28252,0,886673,12719,858075,15879,1139.078325,1.434463,1
24318,97,0,14.63000,121.03000,0,747288,13297,603746,130245,681.949809,1.779368,0
24319,64,1,13.08362,80.28252,0,886673,12719,858075,15879,1139.078325,1.434463,0
24320,49,0,6.92130,122.07453,0,747288,13297,603746,130245,681.949809,1.779368,2
24321,41,1,14.59580,120.97720,0,747288,13297,603746,130245,681.949809,1.779368,0

In [12]:
# Select X and y from training set
ctrain_y = ctrain['outcome_group']
ctrain_X = ctrain.loc[:, ctrain.columns != 'outcome_group']

In [13]:
# Partition database into test set and training set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(ctrain_X, ctrain_y, test_size=0.2)

In [19]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=10)

for train_index, test_index in kf.split(X_train, y_train):
    X_train_cv, y_train_cv = X_train.iloc[train_index], y_train.iloc[train_index]
    X_val_cv, y_val_cv = X_train.iloc[test_index], y_train.iloc[test_index]
    print(X_val_cv)
    print(y_val_cv)

       age  sex   latitude   longitude  chronic_disease_binary  Confirmed  \
9191    40    1  25.213430   84.985350                       0     265527
828     30    1  13.083620   80.282520                       0     886673
24305   25    1  12.867673   75.251507                       0     997004
13966   29    1  14.630000  121.030000                       0     747288
8174    12    1  11.139270   79.084280                       0     886673
...    ...  ...        ...         ...                     ...        ...
5166    48    0  13.083620   80.282520                       0     886673
19828   19    0  13.083620   80.282520                       0     886673
14351   30    1   9.589200   77.953700                       0     886673
10997   32    1  11.735770   78.963060                       0     886673
24215   42    0  14.595800  120.977200                       0     747288

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
9191     1576     262371    1580     212.762145             0.593537
828     12719     858075   15879    1139.078325             1.434463
24305   12567     956170   28267    1475.672533             1.260476
13966   13297     603746  130245     681.949809             1.779368
8174    12719     858075   15879    1139.078325             1.434463
...       ...        ...     ...            ...                  ...
5166    12719     858075   15879    1139.078325             1.434463
19828   12719     858075   15879    1139.078325             1.434463
14351   12719     858075   15879    1139.078325             1.434463
10997   12719     858075   15879    1139.078325             1.434463
24215   13297     603746  130245     681.949809             1.779368

[1946 rows x 11 columns]
9191     1
828      1
24305    1
13966    2
8174     1
        ..
5166     0
19828    1
14351    1
10997    1
24215    0
Name: outcome_group, Length: 1946, dtype: int8
       age  sex  latitude  longitude  chronic_disease_binary  Confirmed  \
14144   37    0  10.36205   77.96951                       0     886673
2361    48    0  14.63000  121.03000                       0     747288
14271   30    1  14.47000  121.02000                       0     747288
19517   35    1  12.23528   79.07477                       0     886673
13381   30    1  12.68224   79.98008                       0     886673
...    ...  ...       ...        ...                     ...        ...
3190    34    1  13.08362   80.28252                       0     886673
19553   69    0  14.59580  120.97720                       0     747288
5626    73    0  14.52000  121.05000                       0     747288
14373   31    0  12.82423   79.70114                       0     886673
9886    59    0  13.08362   80.28252                       0     886673

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
14144   12719     858075   15879    1139.078325             1.434463
2361    13297     603746  130245     681.949809             1.779368
14271   13297     603746  130245     681.949809             1.779368
19517   12719     858075   15879    1139.078325             1.434463
13381   12719     858075   15879    1139.078325             1.434463
...       ...        ...     ...            ...                  ...
3190    12719     858075   15879    1139.078325             1.434463
19553   13297     603746  130245     681.949809             1.779368
5626    13297     603746  130245     681.949809             1.779368
14373   12719     858075   15879    1139.078325             1.434463
9886    12719     858075   15879    1139.078325             1.434463

[1946 rows x 11 columns]
14144    1
2361     0
14271    2
19517    1
13381    1
        ..
3190     1
19553    0
5626     0
14373    1
9886     1
Name: outcome_group, Length: 1946, dtype: int8
       age  sex  latitude  longitude  chronic_disease_binary  Confirmed  \
13781   65    1  13.08362   80.28252                       0     886673
8804    62    1  13.12462   79.91815                       0     886673
18757   21    0  12.23528   79.07477                       0     886673
2016    22    0  11.74514   79.75892                       0     886673
17919   62    1  13.08362   80.28252                       0     886673
...    ...  ...       ...        ...                     ...        ...
24113   47    0   8.72640   77.73349                       0     886673
5114    69    1  23.02776   72.60027                       0     307698
5900    38    1  25.36556   86.48767                       0     265527
6734    34    0  14.59580  120.97720                       0     747288
19777   36    1  14.65000  121.10000                       0     747288

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
13781   12719     858075   15879    1139.078325             1.434463
8804    12719     858075   15879    1139.078325             1.434463
18757   12719     858075   15879    1139.078325             1.434463
2016    12719     858075   15879    1139.078325             1.434463
17919   12719     858075   15879    1139.078325             1.434463
...       ...        ...     ...            ...                  ...
24113   12719     858075   15879    1139.078325             1.434463
5114     4519     290569   12610     481.738599             1.468648
5900     1576     262371    1580     212.762145             0.593537
6734    13297     603746  130245     681.949809             1.779368
19777   13297     603746  130245     681.949809             1.779368

[1946 rows x 11 columns]
13781    0
8804     1
18757    1
2016     1
17919    1
        ..
24113    1
5114     0
5900     0
6734     0
19777    2
Name: outcome_group, Length: 1946, dtype: int8
       age  sex  latitude  longitude  chronic_disease_binary  Confirmed  \
8453    16    0  10.38486   78.79294                       0     886673
13443   23    1  24.88537   86.92398                       0     265527
14471   34    1  13.08362   80.28252                       0     886673
9747    94    1  10.64415  122.24351                       0     747288
18206   17    1  14.22049   76.39956                       0     997004
...    ...  ...       ...        ...                     ...        ...
10088   65    0  31.17298  111.57270                       0      68152
6566    35    1  14.63000  121.03000                       0     747288
24319   64    1  13.08362   80.28252                       0     886673
1400    24    0  12.91929   79.33866                       0     886673
17708   22    1  17.36091   82.71494                       0     901989

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
8453    12719     858075   15879    1139.078325             1.434463
13443    1576     262371    1580     212.762145             0.593537
14471   12719     858075   15879    1139.078325             1.434463
9747    13297     603746  130245     681.949809             1.779368
18206   12567     956170   28267    1475.672533             1.260476
...       ...        ...     ...            ...                  ...
10088    4512      63639       1     118.006896             6.620495
6566    13297     603746  130245     681.949809             1.779368
24319   12719     858075   15879    1139.078325             1.434463
1400    12719     858075   15879    1139.078325             1.434463
17708    7217     887434    7338    1673.343643             0.800121

[1946 rows x 11 columns]
8453     1
13443    1
14471    1
9747     0
18206    1
        ..
10088    0
6566     2
24319    0
1400     1
17708    1
Name: outcome_group, Length: 1946, dtype: int8
       age  sex  latitude  longitude  chronic_disease_binary  Confirmed  \
4175     9    0  12.68224   79.98008                       0     886673
20135   65    1  17.36598   78.45008                       0     308776
11872    9    0  13.08362   80.28252                       0     886673
10532   35    1  10.33333  123.75000                       0     747288
18016    6    0  12.23528   79.07477                       0     886673
...    ...  ...       ...        ...                     ...        ...
17353   10    1  16.16667   81.13333                       0     901989
4316    48    1  13.12462   79.91815                       0     886673
9727    35    1  13.33501   74.74936                       0     997004
7882    35    0  12.23528   79.07477                       0     886673
12418   28    0  13.00287   76.10245                       0     997004

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
4175    12719     858075   15879    1139.078325             1.434463
20135    1701     301564    5511     784.437422             0.550885
11872   12719     858075   15879    1139.078325             1.434463
10532   13297     603746  130245     681.949809             1.779368
18016   12719     858075   15879    1139.078325             1.434463
...       ...        ...     ...            ...                  ...
17353    7217     887434    7338    1673.343643             0.800121
4316    12719     858075   15879    1139.078325             1.434463
9727    12567     956170   28267    1475.672533             1.260476
7882    12719     858075   15879    1139.078325             1.434463
12418   12567     956170   28267    1475.672533             1.260476

[1946 rows x 11 columns]
4175     1
20135    0
11872    1
10532    2
18016    1
        ..
17353    1
4316     1
9727     1
7882     1
12418    1
Name: outcome_group, Length: 1946, dtype: int8
       age  sex  latitude  longitude  chronic_disease_binary  Confirmed  \
20328   53    1  11.74514   79.75892                       0     886673
6850    23    0  11.23407   78.88024                       0     886673
17370   87    1  11.74514   79.75892                       0     886673
24012   71    0  14.63000  121.03000                       0     747288
21572   72    1  13.08362   80.28252                       0     886673
...    ...  ...       ...        ...                     ...        ...
1328    65    0  15.86702   74.51167                       0     997004
19763   65    1  14.55000  121.03000                       0     747288
918     56    0  13.12462   79.91815                       0     886673
3897    45    1  26.45744   74.63525                       0     333149
12823   31    1   7.07000  125.60000                       0     747288

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
20328   12719     858075   15879    1139.078325             1.434463
6850    12719     858075   15879    1139.078325             1.434463
17370   12719     858075   15879    1139.078325             1.434463
24012   13297     603746  130245     681.949809             1.779368
21572   12719     858075   15879    1139.078325             1.434463
...       ...        ...     ...            ...                  ...
1328    12567     956170   28267    1475.672533             1.260476
19763   13297     603746  130245     681.949809             1.779368
918     12719     858075   15879    1139.078325             1.434463
3897     2818     321668    8663     411.129143             0.845868
12823   13297     603746  130245     681.949809             1.779368

[1946 rows x 11 columns]
20328    1
6850     1
17370    1
24012    0
21572    1
        ..
1328     1
19763    0
918      0
3897     0
12823    2
Name: outcome_group, Length: 1946, dtype: int8
       age  sex   latitude   longitude  chronic_disease_binary  Confirmed  \
22549   40    1  11.816130  122.848400                       0     747288
16138   79    1  14.380000  121.050000                       0     747288
17600   47    1  17.801980   79.060040                       0     308776
15024   17    0  14.470000  121.020000                       0     747288
20922   26    0  12.824230   79.701140                       0     886673
...    ...  ...        ...         ...                     ...        ...
2111    36    1  14.630000  121.030000                       0     747288
14028   28    0  13.083620   80.282520                       0     886673
10311   36    1  13.083620   80.282520                       0     886673
21549   62    0  10.676458  122.950917                       0     747288
10276   72    1  13.083620   80.282520                       0     886673

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
22549   13297     603746  130245     681.949809             1.779368
16138   13297     603746  130245     681.949809             1.779368
17600    1701     301564    5511     784.437422             0.550885
15024   13297     603746  130245     681.949809             1.779368
20922   12719     858075   15879    1139.078325             1.434463
...       ...        ...     ...            ...                  ...
2111    13297     603746  130245     681.949809             1.779368
14028   12719     858075   15879    1139.078325             1.434463
10311   12719     858075   15879    1139.078325             1.434463
21549   13297     603746  130245     681.949809             1.779368
10276   12719     858075   15879    1139.078325             1.434463

[1946 rows x 11 columns]
22549    0
16138    0
17600    0
15024    2
20922    1
        ..
2111     0
14028    1
10311    1
21549    0
10276    0
Name: outcome_group, Length: 1946, dtype: int8
       age  sex   latitude   longitude  chronic_disease_binary  Confirmed  \
6386    45    0  14.380000  121.050000                       0     747288
7091    69    0  13.124620   79.918150                       0     886673
10995   54    1  10.287693  123.976852                       0     747288
6437    32    0  13.083620   80.282520                       0     886673
14566   37    1  24.693230   84.002650                       0     265527
...    ...  ...        ...         ...                     ...        ...
4000    54    1  14.595800  120.977200                       0     747288
21348   27    1  14.439790   79.993620                       0     901989
15503   46    1  13.083620   80.282520                       0     886673
1178    45    1   8.726400   77.733490                       0     886673
11237   46    1  14.595800  120.977200                       0     747288

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
6386    13297     603746  130245     681.949809             1.779368
7091    12719     858075   15879    1139.078325             1.434463
10995   13297     603746  130245     681.949809             1.779368
6437    12719     858075   15879    1139.078325             1.434463
14566    1576     262371    1580     212.762145             0.593537
...       ...        ...     ...            ...                  ...
4000    13297     603746  130245     681.949809             1.779368
21348    7217     887434    7338    1673.343643             0.800121
15503   12719     858075   15879    1139.078325             1.434463
1178    12719     858075   15879    1139.078325             1.434463
11237   13297     603746  130245     681.949809             1.779368

[1945 rows x 11 columns]
6386     2
7091     1
10995    0
6437     1
14566    1
        ..
4000     2
21348    2
15503    1
1178     1
11237    0
Name: outcome_group, Length: 1945, dtype: int8
       age  sex  latitude  longitude  chronic_disease_binary  Confirmed  \
23403   65    1  14.59580  120.97720                       0     747288
22485   26    1  14.65000  121.10000                       0     747288
4394    46    1  25.53852   87.57044                       0     265527
14244   26    1  13.08362   80.28252                       0     886673
10607   72    1  13.08362   80.28252                       0     886673
...    ...  ...       ...        ...                     ...        ...
14263   32    1  13.12462   79.91815                       0     886673
18668   24    1  25.35176   85.26994                       0     265527
3341    52    1  10.33333  123.75000                       0     747288
12133   46    1  13.00000   77.58333                       0     997004
15200   57    1  22.61993   88.39418                       0     586915

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
23403   13297     603746  130245     681.949809             1.779368
22485   13297     603746  130245     681.949809             1.779368
4394     1576     262371    1580     212.762145             0.593537
14244   12719     858075   15879    1139.078325             1.434463
10607   12719     858075   15879    1139.078325             1.434463
...       ...        ...     ...            ...                  ...
14263   12719     858075   15879    1139.078325             1.434463
18668    1576     262371    1580     212.762145             0.593537
3341    13297     603746  130245     681.949809             1.779368
12133   12567     956170   28267    1475.672533             1.260476
15200   10329     570811    5775     589.217053             1.759880

[1945 rows x 11 columns]
23403    0
22485    0
4394     1
14244    1
10607    1
        ..
14263    1
18668    1
3341     0
12133    1
15200    0
Name: outcome_group, Length: 1945, dtype: int8
       age  sex  latitude  longitude  chronic_disease_binary  Confirmed  \
11695   45    1  13.00000   77.58333                       0     997004
17519   36    0  14.63000  121.03000                       0     747288
921     59    1  14.55000  121.03000                       0     747288
22454   30    0  13.08362   80.28252                       0     886673
23951   78    0  23.02776   72.60027                       0     307698
...    ...  ...       ...        ...                     ...        ...
4131    41    1  12.68224   79.98008                       0     886673
22412   25    0  14.47081  121.42705                       0     747288
19510   37    1  25.98177   87.72074                       0     265527
4152    42    1  25.53622   86.65792                       0     265527
1785    61    1  14.69694  121.12194                       0     747288

       Deaths  Recovered  Active  Incident_Rate  Case_Fatality_Ratio
11695   12567     956170   28267    1475.672533             1.260476
17519   13297     603746  130245     681.949809             1.779368
921     13297     603746  130245     681.949809             1.779368
22454   12719     858075   15879    1139.078325             1.434463
23951    4519     290569   12610     481.738599             1.468648
...       ...        ...     ...            ...                  ...
4131    12719     858075   15879    1139.078325             1.434463
22412   13297     603746  130245     681.949809             1.779368
19510    1576     262371    1580     212.762145             0.593537
4152     1576     262371    1580     212.762145             0.593537
1785    13297     603746  130245     681.949809             1.779368

[1945 rows x 11 columns]
11695    1
17519    2
921      0
22454    1
23951    0
        ..
4131     1
22412    0
19510    1
4152     1
1785     0
Name: outcome_group, Length: 1945, dtype: int8